In [1]:
import pandas as pd
import os

qqq_1 = pd.read_csv('C:\Algo_lab\Final_task\QQQ2023\qqq_eod_202301.txt')
directory = 'C:\Algo_lab\Final_task\QQQ2023'

# Initialize an empty list to store DataFrames
dfs = []

# Loop through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".txt"):  # Check if the file is a CSV file
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath)
        dfs.append(df)

# Concatenate all DataFrames into one
options_df = pd.concat(dfs, ignore_index=True)

C:\Users\Tzlil\AppData\Local\Temp\ipykernel_27416\3079330874.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
C:\Users\Tzlil\AppData\Local\Temp\ipykernel_27416\3079330874.py:14: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
C:\Users\Tzlil\AppData\Local\Temp\ipykernel_27416\3079330874.py:14: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
C:\Users\Tzlil\AppData\Local\Temp\ipykernel_27416\3079330874.py:14: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
C:\Users\Tzlil\AppData\Local\Temp\ipykernel_27416\3079330874.py:14: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)
C:\Users\Tzlil\AppData\Local\Temp\ipykernel_27416\3079330874.py:14: DtypeWarning: Columns (15,17,18,20,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)

In [2]:
options_df.columns

Index(['[QUOTE_UNIXTIME]', ' [QUOTE_READTIME]', ' [QUOTE_DATE]',
       ' [QUOTE_TIME_HOURS]', ' [UNDERLYING_LAST]', ' [EXPIRE_DATE]',
       ' [EXPIRE_UNIX]', ' [DTE]', ' [C_DELTA]', ' [C_GAMMA]', ' [C_VEGA]',
       ' [C_THETA]', ' [C_RHO]', ' [C_IV]', ' [C_VOLUME]', ' [C_LAST]',
       ' [C_SIZE]', ' [C_BID]', ' [C_ASK]', ' [STRIKE]', ' [P_BID]',
       ' [P_ASK]', ' [P_SIZE]', ' [P_LAST]', ' [P_DELTA]', ' [P_GAMMA]',
       ' [P_VEGA]', ' [P_THETA]', ' [P_RHO]', ' [P_IV]', ' [P_VOLUME]',
       ' [STRIKE_DISTANCE]', ' [STRIKE_DISTANCE_PCT]'],
      dtype='object')

In [3]:
options_df.columns = options_df.columns.str.strip('[] ')

for col in options_df.columns:
    if col.startswith('C_') or col.startswith('P_'):
        options_df[col] = pd.to_numeric(options_df[col], errors='coerce')

dtypes = {
    'QUOTE_UNIXTIME': 'int64',
    'QUOTE_READTIME': 'datetime64[ns]',
    'QUOTE_DATE': 'datetime64[ns]',
    'QUOTE_TIME_HOURS': 'float64',
    'UNDERLYING_LAST': 'float64',
    'EXPIRE_DATE': 'datetime64[ns]',
    'EXPIRE_UNIX': 'int64',
    'DTE': 'float64',
    'C_DELTA': 'float64',
    'C_GAMMA': 'float64',
    'C_VEGA': 'float64',
    'C_THETA': 'float64',
    'C_RHO': 'float64',
    'C_IV': 'float64',
    'C_VOLUME': 'float64',
    'C_LAST': 'float64',
    'C_SIZE': 'float64',
    'C_BID': 'float64',
    'C_ASK': 'float64',
    'STRIKE': 'float64',
    'P_BID': 'float64',
    'P_ASK': 'float64',
    'P_SIZE': 'float64',
    'P_LAST': 'float64',
    'P_DELTA': 'float64',
    'P_VOLUME': 'float64',
    'STRIKE_DISTANCE': 'float64',
    'STRIKE_DISTANCE_PCT': 'float64'
}

options_df = options_df.astype(dtypes)

In [4]:
# Remove rows with low  or Nan volume
options_df.drop(options_df[(options_df['C_VOLUME'] < 100) | options_df['C_VOLUME'].isna()].index, inplace=True)
options_df.drop(options_df[(options_df['P_VOLUME'] < 100) | options_df['P_VOLUME'].isna()].index, inplace=True)

In [5]:
# Add calculation columns

options_df['PCP'] = options_df['UNDERLYING_LAST'] - options_df['STRIKE'] + options_df['P_LAST']
options_df['PCP_PROFIT'] = options_df['C_LAST'] - options_df['PCP']
options_df

,QUOTE_UNIXTIME,QUOTE_READTIME,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,EXPIRE_UNIX,DTE,C_DELTA,C_GAMMA,...,P_GAMMA,P_VEGA,P_THETA,P_RHO,P_IV,P_VOLUME,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,PCP,PCP_PROFIT
35,1672779600,2023-01-03 16:00:00,2023-01-03,16.0,264.46,2023-01-03,1672779600,0.00,0.90320,0.10863,...,0.00000,0.00000,-4.00709,-0.00491,0.00232,3933.0,6.5,0.024,6.47,-0.20
37,1672779600,2023-01-03 16:00:00,2023-01-03,16.0,264.46,2023-01-03,1672779600,0.00,0.85065,0.14508,...,0.00000,0.00000,-6.00755,-0.00548,0.00251,10768.0,4.5,0.017,4.47,0.53
38,1672779600,2023-01-03 16:00:00,2023-01-03,16.0,264.46,2023-01-03,1672779600,0.00,0.78121,0.15672,...,0.00000,0.00000,-7.00724,-0.00551,0.00177,7243.0,3.5,0.013,3.47,-0.06
39,1672779600,2023-01-03 16:00:00,2023-01-03,16.0,264.46,2023-01-03,1672779600,0.00,0.76449,0.21823,...,0.00000,0.00000,-8.00712,-0.00547,0.00210,21478.0,2.5,0.009,2.47,0.07
40,1672779600,2023-01-03 16:00:00,2023-01-03,16.0,264.46,2023-01-03,1672779600,0.00,0.67364,0.28334,...,0.00000,0.00000,-9.00715,-0.00493,0.00219,23798.0,1.5,0.006,1.48,0.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852782,1703883600,2023-12-29 16:00:00,2023-12-29,16.0,409.50,2024-02-16,1708117200,49.00,0.53716,0.01651,...,0.01784,0.59441,-0.07129,-0.22677,0.15725,125.0,1.3,0.003,7.37,3.03
852991,1703883600,2023-12-29 16:00:00,2023-12-29,16.0,409.50,2024-03-15,1710532800,76.96,0.62114,0.01121,...,0.01256,0.71423,-0.05976,-0.29671,0.17025,481.0,4.7,0.012,13.49,5.06
852997,1703883600,2023-12-29 16:00:00,2023-12-29,16.0,409.50,2024-03-15,1710532800,76.96,0.56578,0.01236,...,0.01386,0.73555,-0.05689,-0.32775,0.16402,233.0,0.3,0.001,10.28,4.73
853570,1703883600,2023-12-29 16:00:00,2023-12-29,16.0,409.50,2024-06-21,1719000000,174.96,0.67978,0.00603,...,0.00682,1.00401,-0.04075,-0.56924,0.19498,489.0,14.7,0.036,26.75,11.03
853576,1703883600,2023-12-29 16:00:00,2023-12-29,16.0,409.50,2024-06-21,1719000000,174.96,0.58489,0.00715,...,0.00851,1.08917,-0.03907,-0.68882,0.18139,105.0,0.3,0.001,16.56,9.62

In [6]:
options_df['ARB_PROFIT'] = 0

options_df.loc[options_df['PCP_PROFIT'] > 0, 'ARB_PROFIT'] = (options_df['C_BID'] - (options_df['UNDERLYING_LAST'] - options_df['STRIKE'] + options_df['P_ASK'])) * 100
options_df.loc[options_df['PCP_PROFIT'] < 0, 'ARB_PROFIT'] = ((options_df['UNDERLYING_LAST'] - options_df['STRIKE'] + options_df['P_BID']) - options_df['C_ASK']) * 100

options_df

C:\Users\Tzlil\AppData\Local\Temp\ipykernel_27416\915545992.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[-5.00000000e+00 -3.00000000e+00  2.04281037e-12 ...  4.37000000e+02
  8.82000000e+02  8.95000000e+02]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  options_df.loc[options_df['PCP_PROFIT'] > 0, 'ARB_PROFIT'] = (options_df['C_BID'] - (options_df['UNDERLYING_LAST'] - options_df['STRIKE'] + options_df['P_ASK'])) * 100

,QUOTE_UNIXTIME,QUOTE_READTIME,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,EXPIRE_UNIX,DTE,C_DELTA,C_GAMMA,...,P_VEGA,P_THETA,P_RHO,P_IV,P_VOLUME,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,PCP,PCP_PROFIT,ARB_PROFIT
35,1672779600,2023-01-03 16:00:00,2023-01-03,16.0,264.46,2023-01-03,1672779600,0.00,0.90320,0.10863,...,0.00000,-4.00709,-0.00491,0.00232,3933.0,6.5,0.024,6.47,-0.20,-1.900000e+01
37,1672779600,2023-01-03 16:00:00,2023-01-03,16.0,264.46,2023-01-03,1672779600,0.00,0.85065,0.14508,...,0.00000,-6.00755,-0.00548,0.00251,10768.0,4.5,0.017,4.47,0.53,-5.000000e+00
38,1672779600,2023-01-03 16:00:00,2023-01-03,16.0,264.46,2023-01-03,1672779600,0.00,0.78121,0.15672,...,0.00000,-7.00724,-0.00551,0.00177,7243.0,3.5,0.013,3.47,-0.06,-2.100000e+01
39,1672779600,2023-01-03 16:00:00,2023-01-03,16.0,264.46,2023-01-03,1672779600,0.00,0.76449,0.21823,...,0.00000,-8.00712,-0.00547,0.00210,21478.0,2.5,0.009,2.47,0.07,-3.000000e+00
40,1672779600,2023-01-03 16:00:00,2023-01-03,16.0,264.46,2023-01-03,1672779600,0.00,0.67364,0.28334,...,0.00000,-9.00715,-0.00493,0.00219,23798.0,1.5,0.006,1.48,0.17,2.042810e-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852782,1703883600,2023-12-29 16:00:00,2023-12-29,16.0,409.50,2024-02-16,1708117200,49.00,0.53716,0.01651,...,0.59441,-0.07129,-0.22677,0.15725,125.0,1.3,0.003,7.37,3.03,2.690000e+02
852991,1703883600,2023-12-29 16:00:00,2023-12-29,16.0,409.50,2024-03-15,1710532800,76.96,0.62114,0.01121,...,0.71423,-0.05976,-0.29671,0.17025,481.0,4.7,0.012,13.49,5.06,4.690000e+02
852997,1703883600,2023-12-29 16:00:00,2023-12-29,16.0,409.50,2024-03-15,1710532800,76.96,0.56578,0.01236,...,0.73555,-0.05689,-0.32775,0.16402,233.0,0.3,0.001,10.28,4.73,4.370000e+02
853570,1703883600,2023-12-29 16:00:00,2023-12-29,16.0,409.50,2024-06-21,1719000000,174.96,0.67978,0.00603,...,1.00401,-0.04075,-0.56924,0.19498,489.0,14.7,0.036,26.75,11.03,8.820000e+02
853576,1703883600,2023-12-29 16:00:00,2023-12-29,16.0,409.50,2024-06-21,1719000000,174.96,0.58489,0.00715,...,1.08917,-0.03907,-0.68882,0.18139,105.0,0.3,0.001,16.56,9.62,8.950000e+02

In [7]:

options_df['QUOTE_DATE'] = pd.to_datetime(options_df['QUOTE_DATE'])
# Find max arb profit per day 
max_profit_per_day = options_df.groupby('QUOTE_DATE')['ARB_PROFIT'].max().reset_index()
max_profit_per_day = max_profit_per_day.merge(options_df, on=['QUOTE_DATE', 'ARB_PROFIT'], how='left')
# Extract desired columns
desired_columns = ['QUOTE_DATE', 'C_LAST', 'PCP', 'PCP_PROFIT', 'ARB_PROFIT']
max_profit_per_day = max_profit_per_day[desired_columns].copy()
max_profit_per_day

    QUOTE_DATE  C_LAST    PCP  PCP_PROFIT  ARB_PROFIT
0   2023-01-03   32.99  23.37        9.62       963.0
1   2023-01-04   24.48  13.56       10.92       929.0
2   2023-01-05   35.80  25.57       10.23       943.0
3   2023-01-06   20.99  13.41        7.58       917.0
4   2023-01-09   22.70  15.22        7.48       680.0
..         ...     ...    ...         ...         ...
250 2023-12-22   30.60  13.66       16.94      1554.0
251 2023-12-26   48.31  39.66        8.65       896.0
252 2023-12-27   18.56   9.67        8.89       894.0
253 2023-12-28   34.48  17.51       16.97      1582.0
254 2023-12-29   26.18  16.56        9.62       895.0

[255 rows x 5 columns]

In [8]:
max_profit_per_day = max_profit_per_day.drop_duplicates(subset=['QUOTE_DATE'])
max_profit_per_day

    QUOTE_DATE  C_LAST    PCP  PCP_PROFIT  ARB_PROFIT
0   2023-01-03   32.99  23.37        9.62       963.0
1   2023-01-04   24.48  13.56       10.92       929.0
2   2023-01-05   35.80  25.57       10.23       943.0
3   2023-01-06   20.99  13.41        7.58       917.0
4   2023-01-09   22.70  15.22        7.48       680.0
..         ...     ...    ...         ...         ...
250 2023-12-22   30.60  13.66       16.94      1554.0
251 2023-12-26   48.31  39.66        8.65       896.0
252 2023-12-27   18.56   9.67        8.89       894.0
253 2023-12-28   34.48  17.51       16.97      1582.0
254 2023-12-29   26.18  16.56        9.62       895.0

[250 rows x 5 columns]

In [9]:
profits = max_profit_per_day['ARB_PROFIT']
profits.sum()

213908.0

In [10]:
sorted_df = max_profit_per_day.sort_values(by='ARB_PROFIT', ascending=False)
sorted_df

    QUOTE_DATE  C_LAST    PCP  PCP_PROFIT  ARB_PROFIT
242 2023-12-12   61.33  39.46       21.87      2118.0
151 2023-08-07   58.98  39.63       19.35      2025.0
152 2023-08-08   55.59  38.53       17.06      1991.0
105 2023-05-31   36.30  16.16       20.14      1931.0
129 2023-07-06   35.80  16.45       19.35      1915.0
..         ...     ...    ...         ...         ...
231 2023-11-27    9.80   7.60        2.20       226.0
76  2023-04-20   10.28   8.40        1.88       216.0
230 2023-11-24   10.85   8.61        2.24       208.0
57  2023-03-27   18.53  16.24        2.29       175.0
89  2023-05-09   10.92   9.19        1.73       168.0

[250 rows x 5 columns]